.main_head {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: rem(75px);
  box-shadow: 0 0 rem(24px) rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.logo {
  color: #616161;
  font: 400 rem(35px)/1 "Wisdom - Script";
  span {
    color: $red-color;
  }
}

.head_navigation {
  position: relative;
  ul {
    display: flex;
    li {
      position: relative;
      color: #272727;
      font: 500 rem(14px)/1 "Poppins";
      margin-right: rem(20px);
      &::before {
        @include before_fig(0, rem(1px), $red-color);
        left: 0;
        bottom: rem(-5px);
        opacity: 0;
        transition: .3s;
      }
      &:hover {
        a {
          span {
            transition: .3s;
            color: $red-color;
          }
        }
      }
      &:hover::before {
        width: 100%;
        opacity: 1;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}