.portfolio {
  width: 100%;
  position: relative;
  padding: rem(140px) rem(10px);
  .portfolio_content {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.portfolio_elem {
  position: relative;
  max-width: rem(360px);
  width: 100%;
  height: rem(288px);
  margin: 0 rem(5px) rem(10px) rem(5px);
  cursor: pointer;
  box-shadow: 0 0 rem(20px) rgba(0, 0, 0, 0.05);
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s;
  }
  &:hover {
    img {
      filter: saturate(500%);
    }
    .portfolio_number {
      bottom: 0;
      opacity: 1;
    }
  }
}

.portfolio_number {
  position: absolute;
  bottom: -50%;
  opacity: 0;
  width: 100%;
  padding: rem(22px) 0;
  transition: .3s;
  background-color: #fff;
  p {
    font: 500 rem(15px)/1 "Poppins";
    text-align: center;
  }
  .number_line {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    i {
      width: 25%;
      height: rem(3px);
      position: relative;
      top: 0;
      &:first-child {
        background-color: $red-color;
      }
      &:nth-child(2) {
        background-color: $green-color;
      }
      &:nth-child(3) {
        background-color: $purple-color;
      }
      &:last-child {
        background-color: $orange-color;
      }
    }
  }
}