$one-rem: 16px;

$url-path: "../../";

$break-mobile: 768px;
$break-tablet: 1024px;

$devices: not-desktop phablets phones-tablets;
$devices: not-desktop phablets phones-tablets;

/*color*/

$red-color: #fc5f45;
$green-color:#38c695;
$purple-color:#b27cf5;
$orange-color:#feb960;
/*fonts*/

